body{
    //background-color:gray;
}

.colonne{
    border: 1px solid #c48200;
}

.contain{
    padding:10px;
    border-top:1px solid #c48200;
}

.rightContainer{
    border-left:1px solid #c48200;
}