body{
    padding:50px;
}

.colonne{
    border: 1px solid #c48200;
    padding: 25px;
}

.contain{
    padding:10px;
    border-top:1px solid #c48200;
}

.rightContainer{
    border-left:1px solid #c48200;
}

.ligneContainer{
    border-top:1px solid #c48200;
    padding:10px;
}

.MainContainer{
    //max-height:650px;
    //overflow:auto;
}

.alignCenter{
    text-align: center;
}
