<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
    <title>BigDataTwitter</title>
</head>
    <body>
        <div class="row" style="text-align: center;">
            <div id="blockTopTweet" class="col-md-8 colonne">
                <div class="MainContainer">
                    <table id="InfoGfi" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="alignCenter">Tweet</th>
                                <th class="alignCenter">Auteur</th>
                                <th class="alignCenter">Retweet</th>
                                <th class="alignCenter">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in Tweet %}
                            <tr>
                                <td>{{ t.tweet }}</td>
                                <td>{{ t.tweetos }}</td>
                                <td>{{ t.retweet }}</td>
                                <td>{{ t.date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="blockTopFollowers" style="display:none;"class="col-md-8 colonne">
                <div class="MainContainer">
                    <table id="InfoGfiFollowers" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="alignCenter">Abonné </th>
                                <th class="alignCenter">Tweet</th>
                            </tr>*
                        </thead>
                        <tbody>
                            {% for t in tabData %}
                                <tr>
                                    <td>{{ t }}</td>
                                    <td>{{ tabData[t] }}</td>
                                </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="blockTopPays" style="display:none;"class="col-md-8 colonne">
                <div class="MainContainer">
                    <table id="InfoGfiPays" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="alignCenter">Pays / Ville </th>
                            <th class="alignCenter">Nombre Tweet</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for t in tabDataPays %}
                                <tr>
                                    <td>{{ t }}</td>
                                    <td>{{ tabDataPays[t] }}</td>
                                </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 colonne">
                <img src="../static/img/Gfi.png" style="width:300px;">
                <h1> Informations utiles </h1>
                <table id="BlockInformation" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <th>Information</th>
                        <th>Nombre</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre de tweets</td>
                            <td>{{ Count.nbrTweet }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de personne ayant tweeter gfi</td>
                            <td>{{ Count.nbrPeopleTweet }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de personne du 2nd niveau touché</td>
                            <td>{{ Count.nbrPeopleToucher }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de pays ayant tweeter gfi</td>
                            <td>{{ Count.nbrPaysTweet }}</td>
                        </tr>
                    </tbody>
                </table>
                    <div>
                        <ul style="margin-left:20%;margin-top:20px;"class="nav nav-pills">
                            <li id="TopTweet" class="active"><a href="#">Top Tweet</a></li>
                            <li id="TopFollowers" ><a href="#">Top Followers</a></li>
                            <li id="TopPays" ><a href="#">Top Pays</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </body>
</html>